/*INICIO DO CSS*/
/*ESTILO DO CABEÇARIO*/
header {
  background-color: rgb(29, 127, 151);
  font-family: sans-serif;
}
.imgg {
  width: 35%;
  height: auto;
}
.ancora {
  display: inline-block;
  font-weight: bold;
}

.ancora:hover {
  color: rgb(29, 127, 151);
  background-color: white;
  transition: all 0.3s ease;
}

.imagemzona {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barradenaveg {
  position: fixed;
  background-color: rgb(29, 127, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 10px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.ancora {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.rodape {
  font-family: sans-serif;
  background-color: rgb(29, 127, 151);
  color: white;
  text-align: center;
  padding: 10px;
}

.titulogaleria {
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
  height: 50px;
  width: 100%;
}

.imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.texto-satan {
  font-family: "Satanic", sans-serif;
  font-size: 1.2em;
  color: red;
  animation: glitch 2s infinite;
}


.texto-satan2 {
  font-family: "Satanic", sans-serif;
  font-size: 1.2em;
  color: red;
}

.titulo-do-ceo {
  font-family: sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.texto1 {
  font-family: sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.Ceo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.titulo-cards {
  font-family: sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.contato {
  font-family: sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/*CELULAR*/
@media (max-width: 768px) {

  .imagemzona {
    width: 100%;
    padding-top: 10%;
    padding-right: 10%;
  }

  .texto1 {
    font-size: 100%;
  }

  .barradenaveg {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .ancora {
    margin: 5px 0;
  }

  .imagens {
    flex-direction: column;
    align-items: center;
  }

  .cardes {
    flex-direction: column;
    align-items: center;
  }

  .rodape {
    font-size: 14px;
  }
  
}