/*INICIO DO CSS*/
/*ESTILO DO CABEÇARIO*/
header {
  background-color: black;
}
.imgg {
  width: 35%;
  height: auto;
}
.ancora {
  display: inline-block;
  backgron-color: green;
  border-radius: 5px;
  font-weight: bold;
}
