@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

/* DATA */
#data {
  Font-family: "Rubik Glitch", system-ui;
  Font-size: 1.3rem;
  color: #C800FF;
  text-shadow: 0 0 5px #C800FF;
               0 0 10px #C800FF;
               0 0 20px #C800FF;
}
